.App-header{
  height: 7%;
  background-color: #292929;
  ;
  color: aliceblue;
  margin: 0%;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 10%;
  padding-top:5%;
}
.App-body{
  height: auto;
  min-height: 93%;
  width: 100%;
  position: fixed;
  top: 7%;
  background-color: #292929;
;
}

h1{
  padding: 10px;
}

