.App-header{
  height: 7%;
  background-color:transparent;
  color: aliceblue;
  margin: 0%;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 10%;
  padding-top:5%;
  
}
.App-body{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #292929;
  z-index: 0;
;
}

h1{
  padding: 10px;
  z-index: 2;
  font: 'Staatliches';
}

