.CustomTextBox{
    font: 'Helvetica-Neue';
    font-size: xxx-large;
    color: aliceblue;
    padding-left: 10%;
    position: absolute;
    top: 25%;
    width: 700px;
    z-index: 2;

}
.DDE1{
    font: arial;
    font-size: xxx-large;
    color: aqua;
}
.DDE2{
    font: arial;
    font-size: xx-large;
    color: aqua;
}
.b2{
    color: aliceblue;
    padding-left: 10%;
    position: absolute;
    bottom: 10%;
}
span{
    color: aliceblue;
    size: xx-small;
}